# Node dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
docs/